body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}
.header{
    min-height: 120vh;
    width: 100%;
    background-image:url(back.png);
    background-position: center;
    background-blend-mode:hard-light;
    background-size: cover;
    position: relative;
    background-color: rgba(4,9,30,0.7);

}
nav{
    display: flex;
    padding: 4px 50px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100%;
}
.nav-link{
    flex: 1;
    text-align:right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 14px;
    position: relative;
}
.nav-link ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-link ul li::after{
    content:"" ;
    height: 1px;
    width: 0%;
    background:rgb(240, 151, 151);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-link ul li:hover::after{
    width: 100%;
}
.text{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-5%);
    text-align: center;
    color: white;
}
.text h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.text p{
    margin: 10px 0 40px;
    font-size: 15px;
    color: white;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    padding: 12px 34px;
    border-radius: 5px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 1px solid red;
    background: red;
    transition: 1s;
}
nav .fa{
    display:none;
}
/* styles for smaller screen*/
@media(max-width:800px){
    .text h1{
        font-size: 30px;
        margin-bottom: 15px;
    }
    .text{
        width: 100%;
        position: absolute;
        top: 27%;
        left: 50%;
        margin-bottom: 10px;
        transform: translate(-50%,-5%);
        text-align: center;
        color: white;
    }
    .header{
        min-height: 130vh;
    }
    nav img{
        width:40%;
        margin-left: 0px;
        padding-left: 0;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        display:none;
        background:red;
        height: 100vh;
        width: 200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 4;
        transition: 1s;
    }
    nav .fa{
        display: block;
        margin: 2px;
        color: white;
        font-size: 18px;
        cursor: pointer;
    }
    .nav-link ul{
        padding: 30px;
    } 
}
/*-----second section------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-size: 35px;
    font-weight: 600;
}
p{
    font-size: 15px;
    color: rgb(83, 78, 78);
    font-weight: 300;
    line-height:24px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 31%;
    background: rgb(250, 227, 202);
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 15px 10px;
    box-sizing: border-box;
    transition: 1s;
}
h3{
    text-align: center;
    font-weight: 500;
    margin: 8px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px rgba( 0,0,0, 0.2);
}
@media(max-width:700px){
    .row{
        flex-direction: column;
    }
}
/*-----third section-----*/
.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
p{
    font-size: 14px;
    color: rgb(83, 78, 78);
    font-weight: 300;
    line-height:24px;
    padding: 10px;
}
.campus-col{
    flex-basis: 32%;
    border-radius: 25px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}
.campus-col img{
    width: 100%;
    object-fit:cover;
}
.layout h3{
    font-size: 18px;
    font-weight: 700;
    color: white;
    width: 100%;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 1;
    transition: 0.5s;

}
.layout:hover h3{
    bottom: 50%;
    opacity: 1;
}

.layout{
    background:transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layout:hover{
    background:rgba(206, 136, 136, 0.7);
    bottom: 50px;


}
/*------- fouth section-------*/
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities-col p{
    padding: 0;

}
.facilities-col h3{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
}
/*------ fifth section------*/
.testimonies{
    width: 80%;
    margin: auto;
    padding-top:50px;
    text-align: center;
}
.testimonies-col{
    flex-basis: 41%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: rgb(250, 227, 202);
    padding: 20px;
    cursor: pointer;
    display: flex;
}
.testimonies-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonies-col h3{
    text-align: left;
}
.testimonies-col p{
    padding: 0;
    margin-top: 0;
}
.testimonies-col .fa{
    color: red;
}
@media(max-width:700px){
    .testimonies-col img{
        margin-left:0px;
        margin-right:15px;
    }
    .testimonies-col{
        flex-basis: 41%;
        border-radius: 10px;
        margin-bottom: 5%;
        margin-left: 10px;
        text-align: left;
        background: rgb(250, 227, 202);
        padding: 10px;
        cursor: pointer;
        display:inline-block;
    }
    .testimonies{
    width: 100%;
    margin: auto;
    padding-top:50px;
    text-align: center;
    }
    .testimonies h1{
        font-size: 25px;
        font-weight: 200px;
    }
}
/*------seventh section-------*/
.action{
    min-height:50vh;
    width: 100%;
    background-image:url(LAST\ IMG.jpeg);
    background-position: center;
    background-blend-mode:soft-light;
    background-size: cover;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(4,9,30,0.7);

}
.action h1{
    color:white ;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    padding-top: 40px;
    margin-top: 40px;
}
@media(max-width:700px){
    .action h1{
        font-size: 20px;
        line-height: 30px;
    }
    .action{
        min-height: 50vh;
        padding-left: 10px;
    }
}
.about{ 
    height: auto;
    padding-top: 50px;
    text-align: center;
}
.about h2{
    font-size: 20px;
    font-weight: 500;
    color:black;
    text-align: center;
}
.about p{
    font-size: 14px;
    font-weight: 300;
}
.about h6{
    font-size: 13px;
    font-weight: 300; 
}
.darby{
    color:blue;
}
@media(min-width:800px){
    p{
        font-size: 14px;
    } 
}
