body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}
.header{
    min-height: 120vh;
    width: 100%;
    background-image:url(images/first\ img.jpg);
    background-position: center;
    background-blend-mode:saturation;
    background-size: cover;
    position: relative;
    bottom: 0;
    background-color: rgba(15, 41, 145, 0.7);

}
nav{
    display: flex;
    padding: 4px 50px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 30%;
}
.nav-link{
    flex: 1;
    text-align:right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 14px;
    position: relative;
}
.nav-link ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.nav-link ul li::after{
    content:"" ;
    height: 1px;
    width: 0%;
    background:white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.HOME{
    border-bottom: 1px solid ;
}

.nav-link ul li:hover::after{
    width: 100%;
}
.text{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-5%);
    text-align: center;
    color: white;
}
.text h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.text p{
    margin: 10px 0 40px;
    font-size: 15px;
    line-height:30px;
    color: white;
}
.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 34px;
    border-radius: 5px;
    font-size: 14px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btn:hover{
    border: 4px solid white;
    transition: 1s;
}
nav .fa{
    display:none;
}
/* styles for smaller screen*/
@media(max-width:800px){
    .text h1{
        font-size: 25px;
        font-weight: 200px;
        margin-bottom: 10px;
    }
    .text{
        width: 100%;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-5%);
        text-align: center;
        color: white;
    }
    nav img{
        width:45%;
        margin-left: 0px;
        padding-left: 0;
    }
    .nav-link ul li{
        display: block;
    }
    .nav-link{
        position: absolute;
        display: none;
        background:red;
        height: 100vh;
        width:200px;
        top: 0;
        right:-200px;
        text-align: left;
        z-index: 4;
        transition: 1s;
    }
    .text p{
        margin-bottom: 0px;
        line-height: 24px;
    }
    .header{
        min-height: 125vh;
    }
    nav .fa{
        display: block;
        margin: 2px;
        color: white;
        font-size: 15px;
        cursor: pointer;
    }
    .nav-link ul{
        padding: 30px;
    }
}
/*-----second section------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.course h1{
    font-size: 40px;
    font-weight:300;
    width: 400px;
    display:inline-block;
    color:black;
    margin-bottom: 0px;
    border-bottom: 1px solid gainsboro;
}
.unique{
    color: rgb(252, 212, 164);
    margin-top: 15px;
    padding: 0;
    font-size: 18px;
}
p{
    font-size: 18px;
    color:black;
    font-weight: 300;
    line-height:24px;
    padding: 10px;
}
.rows{
    margin-top: 5%;
    display: flex;
    justify-content:center;
}
.course-col{
    flex-basis: 41%;
    border: 1px solid wheat;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 15px 10px;
    box-sizing: border-box;
    transition: 1s;
}
.course-col img{
    width:100%;
    object-fit: cover;
}
.course-col p{
    text-align: left;
}
 .course-col h3{
    text-align: center;
    font-weight: 500;
    margin: 8px 0;
    text-align: left;
}
.program-btn{
    padding: 15px 35px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    font-weight:400;
    cursor: pointer;
    color: white;
    background-color: brown;
}
.course-col:hover{
    box-shadow: 0 0 20px rgba( 0,0,0, 0.2);
}
@media(max-width:700px){
    .rows{
        flex-direction: column;
    }
    .course h1{
    font-size: 23px;
    font-weight:200;
    width:100%;
    display:inline-block;
    color:black;
    margin-bottom: 0px;
    border-bottom: 1px solid gainsboro;
     }
.course-col{
    flex-basis: 41%;
    border: 1px solid wheat;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
    padding-left: 10px;
    box-sizing: border-box;
    transition: 1s;
}
.course-col img{
    width:100%;
    object-fit: cover;
}
.program-btn{
    padding: 13px 30px;
    border-radius: 20px;
    font-size: 13px;
    border: none;
    font-weight:200;
    cursor: pointer;
    color: white;
    background-color: brown;
}
.course-col p{
    text-align: left;
    font-size: 15px;
}
}
/*-----third section-----*/
.campus{
    width: 80%;
    margin: auto;
    text-align:center;
    padding-top: 50px;
}
.campus h1{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 0px;
}
p{
    font-size: 18px;
    color:black;
    font-weight: 300;
    margin-top: 0px;
    padding: 10px;
}
.online-btn{
    padding: 15px 35px;
    border-radius: 20px;
    font-size: 15px;
    border: none;
    font-weight:200;
    color: white;
    background-color: brown;
    cursor:pointer;
    text-align: left;   
}
.campus h4{
    font-weight: bold;
    text-align: left;
    font-size: 20px;
    margin-bottom: 0px;
}
@media(max-width:700px){
  .campus{
    width: 100%;
    margin: auto;
    text-align:center;
    padding-top: 30px;
}
.online-btn{
    padding: 13px 30px;
    border-radius: 20px;
    font-size: 13px;
    border: none;
    font-weight:200;
    color: white;
    background-color: brown;
    cursor:pointer;
    text-align: left;   
}
.campus h1{
    font-weight:200;
    font-size: 23px;
    margin-bottom: 0px;
}
p{
    font-size: 15px;
    color:black;
    font-weight: 300;
    margin-top: 0px;
    padding: 10px;
}  
}
/*--------virtual--------*/
    .Virtual{
        width: 100%;
        margin: auto;
        text-align: center;
        padding-top: 50px;
    }
    .Virtual h1{
        font-size: 40px;
        font-weight:300;
        width: 400px;
        display:inline-block;
        color:black;
        margin-bottom: 0px;
        border-bottom: 1px solid gainsboro;
    }
    .Virtual P{
        font-size: 15px;
        line-height: 30px;
    }
    @media(max-width:700px){
     .Virtual h1{
        font-size: 23px;
        font-weight:200px;
        width:100%;
        display:inline-block;
        color:black;
        margin-bottom: 0px;
        border-bottom: 1px solid gainsboro;
      }
    .Virtual P{
        font-size: 15px;
        line-height: 25px;
    }
    }
/*------ fouth section------*/
.testimonies{
    width: 80%;
    margin: auto;
    padding-top:50px;
    text-align: center;
}
.testimonies-col{
    flex-basis: 46%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: rgb(250, 227, 202);
    padding: 20px;
    cursor: pointer;
    display: flex;
}
.testimonies-col h3{
    text-align: left;
}
.testimonies-col p{
    padding: 0;
    margin-top: 0;
}
.testimonies-col .fa{
    color:brown;
}
@media(min-width:700px){
    .testimonies-col{
        flex-basis: 46%;
        border-radius: 10px;
        margin-bottom: 5%;
        margin-left: 20px;
        text-align: left;
        background: rgb(250, 227, 202);
        padding: 20px;
        cursor: pointer;
        display: flex;
    }
}
/*------fifth section-------*/
.enroll-world{
    min-height:50vh;
    width: 100%;
    background-image:url(images/last\ img.jpg);
    background-position: center;
    background-blend-mode:soft-light;
    background-size: cover;
    position: relative;
    text-align: center;
    border-radius: 10px;
    background-color:rgba(15, 41, 145, 0.7);

}
.enroll-world h1{
    color:white ;
    text-align: center;
    font-size: 34px;
    font-weight: 500;
    padding-top: 40px;
    margin-top: 40px;
}
@media(max-width:700px){
    .enroll-world h1{
        font-size: 24px;
        line-height: 40px;
    }
}
.about{ 
    height: auto;
    padding-top: 50px;
    text-align: center;
}
.about h2{
    font-size: 20px;
    font-weight: 500;
    color:black;
    text-align: center;
}
.about p{
    font-size: 14px;
    font-weight: 300;
}
.about h6{
    font-size: 13px;
    font-weight: 300; 
}
.darby{
    color:blue;
}
@media(min-width:800px){
    p{
        font-size: 14px;
    } 
}
